QLineEdit{
    padding:6px;
    selection-color:#5DA6A6;
    selection-background-color:#F2EAD0;
    border:none;
    background-color:white;
}
QComboBox {
    border: none;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color:white;
    icon-size: 1;
}

QComboBox:editable {
    background-color: #485F73;
    border:none;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    background-color: #485F73;
    border:none;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: #485F73;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
    color: #344459;
}

QComboBox::drop-down {
    border-left:2px solid white;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    color: #344459;	
}

QComboBox::down-arrow {
    image: url(img/arrowdown32whitersm.png);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

/* QComboBox::item{ */
/*     color:orange; */
/* } */

QComboBox QAbstractItemView {
     color: #344459;
     background-color: white;
}

QListView::item{
    border:none;
}

QListView::item:selected {
    background: #485F73;
    border:none;
}