QMainWindow{
    /* background-color: #485F72; */
    /* background-color:#5DA6A6; */
    background-color:#A9D9CB;
    color:#F2EAD0;
}
QToolBar{
    background-color:#F2EAD0;
    padding:0;
}
QToolButton:hover{
    background-color:#A9D9CB;
    border:none;
}